body {
    background-color: #f4f7f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    line-height: 1.6;
    margin: 40px;
}

img {
    display: block;
    width: 35px;
    height: 25px;
}

h1 {
    color: #2c3e50;
}

table {
    border: none !important;
}


.table-content {
    text-decoration: none;
    color: inherit;
}

figcaption {
    text-align: center;
    color: #34495e;
    font-weight: bold;
}
