body{

    background-color: #f4f7f6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

img {

    display: block;
    width: 35px;
    height: 25px;

}

h1{

    color: #2c3e50;

}

.table-content{

    text-decoration: none;

}

figcaption {

    text-align: center;
    color: #34495e;
    font-weight: bold;

}
